*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;

}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
#left{
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: red; */
}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

#lnavr i{
    color: royalblue;
}

#left #textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}


#right{
    width: 60%;
    height: 100%;
    background-color:black;
}

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: white;
}
#rbottom{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    background-image: url(https://images.unsplash.com/photo-1517992159470-5f9b04759e98?auto=format&fit=crop&q=80&w=1107&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#rtop-left{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    background-image: url(https://images.unsplash.com/photo-1570913149827-d2ac84ab3f9a?auto=format&fit=crop&q=80&w=870&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#rtop-right{
    width: 50%;
    height: 100%;
    /* background-color:black; */
    background-image: url(https://images.unsplash.com/photo-1580052614034-c55d20bfee3b?auto=format&fit=crop&q=80&w=987&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

@media(max-width:500px){
    #main{

        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}